.page-noire {
  min-height: 300vh; // couvre tout l’écran
  background-color: black; // fond noir
  color: white; // texte lisible sur fond noir
}

.adversaire-text-project {
  color: #fff;
  text-align: justify;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10%;
}

.adversaire-title {
  color: #fff;
  font-family: "LEMON MILK";
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 19%;
}

.adversaire-video {
  display: flex;
  align-items: center;
  border: 3px solid #fff;
  margin-top: 30%;
  margin-bottom: 30%;
  margin-left: 50%;
}
