.retraite-background-img {
  background-image: url(../img/nouvelles_images_webp/image-nuages.jpg);
}

.affronter-black-background {
  background-color: black;
}

.fissure-link-next-project {
  color: white;
}

.affronter-title {
  color: #fff;
  font-family: "LEMON MILK";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.affronter-txt {
  color: #fff;
  text-align: justify;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
