.fear-navigation {
  display: flex;
  gap: 40px;
  justify-content: end;
  margin-right: 8%;
  margin-top: 3%;
}

.fear-word {
  font-family: "Gill Sans";
  font-size: 16px;
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 7%; /* 1.12px */
  text-underline-offset: 6%; /* 0.96px */
  text-underline-position: from-font;
}

@media (min-width: 768px) {
  .fear-text-project {
    text-align: justify;
    font-size: 12px;
    font-weight: 400;
    margin-top: 2%;
    color: white;
  }
}

@media (min-width: 1200px) {
  .fear-text-project {
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    margin-top: 2%;
    color: white;
  }
}

.fear-link-next-project {
  display: inline-flex;
  align-items: center;
  gap: 77px;
  font-size: 24px;
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 7%; /* 1.68px */
  text-underline-offset: 24%; /* 5.76px */
  text-underline-position: from-font;
  margin-left: 6%;
  margin-top: 5%;
  margin-bottom: 5%;
  transition-property: color;
  transition-duration: 1s;
  transition-delay: 0.2s;
}

.fear-link-next-project :hover {
  color: #ee4a51;
}
@media (min-width: 768px) {
  .fear-text-conclusion {
    margin-top: 2%;
    color: #000;
    text-align: justify;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

@media (min-width: 1200px) {
  .fear-text-conclusion {
    margin-top: 2%;
    color: #000;
    text-align: justify;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.fear-theme-project {
  color: #3f425f;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.fear-title {
  color: white;
  font-family: Lato;
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.fear-background-img {
  background-image: url(../img/nuagess.jpg);
}

.title_macking_off {
  color: #000;
  font-family: "LEMON MILK";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 14%;
  margin-top: 10%;
}
