.fissure {
  background-color: black;
  color: white;
}

.fissure_navigation {
  display: flex;
  gap: 40px;
  justify-content: end;
  margin-right: 8%;
  margin-top: 3%;
}

.fissure-title {
  margin-left: 7%;
}

.fissure-txt-presentation {
  margin-top: 3%;
}

.fissure-img-1 {
  margin-top: 2%;
}

.fissure-img-2 {
  margin-top: 10%;
}

.fissure-link-next-project {
  display: inline-flex;
  align-items: center;
  gap: 77px;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 7%; /* 1.68px */
  text-underline-offset: 24%; /* 5.76px */
  text-underline-position: from-font;
  margin-left: 6%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.fissure-txt-conclusion {
  font-size: 18px;
  text-align: justify;
}

.fissure-theme-project {
  color: #3f425f;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 300;
}

.fissure-title {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.fissure-theme-project {
  color: #b5b7c8;
  display: flex;
  width: 1113px;
  align-items: baseline;
  gap: 12px;
}
