.fissure {
  background-color: black;
  color: white;
}

.fissure_navigation {
  display: flex;
  gap: 40px;
  justify-content: end;
  margin-right: 8%;
  margin-top: 3%;
}

.fissure-title {
  margin
}