.home-header {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.home-navigation {
  display: flex;
  justify-content: end;
  display: flex;
  gap: 40px;
  justify-content: end;
  margin-right: 8%;
  margin-top: 3%;
}

.home-word {
  color: #fff;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 4.5%; /* 0.607px */
  text-underline-offset: 25%; /* 3.375px */
  text-underline-position: from-font;
  text-transform: uppercase;
}

.home-little-word {
  color: #fff;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 4.5%; /* 0.675px */
  text-underline-offset: 25%; /* 3.75px */
  text-underline-position: from-font;
  text-transform: uppercase;
}
.home-image-heron {
  max-width: 100%;
}

.home-text-intro {
  color: #000;
  text-align: justify;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 300;
  align-self: stretch;
  margin-top: 5%;
}

.home-presentation {
  display: flex;
  align-items: center;
  margin-top: 8%;
}

.home-button {
  display: flex;
  height: 42.6px;
  padding: 10px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #000;
  color: #fff;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 300;
  margin-top: 40%;
  transition-property: color;
  transition-duration: 1s;
  transition-delay: 0.2s;
  margin-top: 20%;
}

.home-button:hover {
  color: rgb(0, 0, 0);
  background-color: #fff;
  border: 1px solid #000;
}

.home-contact {
  color: #000;
  text-align: justify;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 300;
  margin-top: 6%;
}

.home-logo {
  width: 53px;
  height: 53px;
  display: inline-flex;
  align-items: center;
  gap: 66px;
  margin-left: 8.3%;
  display: flex;
  width: 146px;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}

.home-titre-propos {
  color: #000;
  text-align: right;
  font-family: "LEMON MILK";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2%;
  text-underline-offset: 20.5%;
  text-underline-position: from-font;
  margin-right: 35%;
  margin-bottom: 10%;
}

.home-img-contact-1 img {
  padding-left: -30%;
  align-items: end;
}

.tkt-chef {
  width: 100vw; /* toute la largeur de l’écran */
  height: auto; /* garde les proportions */
  display: block; /* supprime les marges fantômes */
}

.home-overlay-text {
  position: absolute;
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 2;
  margin-bottom: 100%;
  margin-right: -15%;
}

.home-background-img {
  background-image: url(../img/nouvelles_images_webp/background.jpg);
}
