.home-header {
  background-image: url(../img/heron.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.home-navigation {
  display: flex;
  justify-content: end;
  display: flex;
  gap: 40px;
  justify-content: end;
  margin-right: 8%;
  margin-top: 3%;
}

.home-word {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 7%; /* 1.12px */
  text-underline-offset: 6%; /* 0.96px */
  text-underline-position: from-font;
  color: #fff;
}

.home-little-word {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 7%; /* 1.12px */
  text-underline-offset: 6%; /* 0.96px */
  text-underline-position: from-font;
  color: #fff;
}
.home-image-heron {
  max-width: 100%;
}

.home-text-intro {
  color: #000;
  text-align: justify;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 300;
  align-self: stretch;
  margin-top: 5%;
}

.home-presentation {
  display: flex;
  align-items: center;
  margin-top: 8%;
}

.home-button {
  display: flex;
  height: 42.6px;
  padding: 10px 54px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: #000;
  color: #fff;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 300;
  margin-top: 40%;
  transition-property: color;
  transition-duration: 1s;
  transition-delay: 0.2s;
  margin-top: 20%;
}

.home-button:hover {
  color: rgb(0, 0, 0);
  background-color: #fff;
  border: 1px solid #000;
}

.home-contact {
  color: #000;
  text-align: justify;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 300;
  margin-top: 6%;
}

.home-logo {
  width: 53px;
  height: 53px;
  display: inline-flex;
  align-items: center;
  gap: 66px;
  margin-left: 8.3%;
  display: flex;
  width: 146px;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}

.home-titre-propos {
  color: #000;
  text-align: right;
  font-family: "LEMON MILK";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2%;
  text-underline-offset: 20.5%;
  text-underline-position: from-font;
  margin-right: 35%;
  margin-bottom: 10%;
}

.home-img-contact-1 {
  margin-left: 10%;
}
