._home-image-heron {
  max-width: 100%;
}

._home-text-intro {
  color: #000;
  text-align: justify;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  align-self: stretch;
}
