.list-card {
  margin-top: 5%;
}
.list-title-project {
  font-family: "IM FELL French Canon";
  font-size: 48px;
  font-weight: 100;
}

.list-title-flex {
  margin-left: 5%;
}

.list-type-project {
  color: #000;
  font-family: "LEMON MILK";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.list-description {
  margin-top: 5%;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 300;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.list-button {
  display: flex;
  width: 261px;
  height: 51px;
  padding: 11px 41px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 300;
  background: #000;
  margin-top: 25%;
  transition-property: color;
  transition-duration: 1s;
  transition-delay: 0.2s;
}

.list-button:hover {
  color: black;
  background-color: white;
  border: 1px solid #000;
}

.list-text-bold {
  font-family: "IM FELL French Canon";
  font-size: 48px;
  font-weight: 400;
}

.list-navigation {
  display: flex;
  gap: 0px;
  justify-content: end;
  margin-right: 8%;
  margin-top: 3%;
}

.list-title-underline {
  color: #000;
  font-family: "LEMON MILK";
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2%; /* 1.7px */
  text-underline-offset: 20.5%; /* 17.425px */
  text-underline-position: from-font;
}

.list-rangée-3-projets {
  display: flex;
  margin-left: 5%;
}

.list-img-1 {
  margin-top: 10%;
  flex: 1;
  max-width: none;
}

.list-rangée-3-projets img {
  width: 100%;
  height: auto;
  display: block;
}

.list-background-img {
  background-size: cover;
  background-repeat: no-repeat;
}
