.list-card {
  margin-top: 5%;
}
.list-title-project {
  font-family: "IM FELL French Canon";
  font-size: 48px;
  font-weight: 100;
}

.list-title-flex {
  display: flex;
  gap: 15%;
}

.list-type-project {
  color: #3f425f;
  font-family: "Gill Sans";
  font-size: 16px;
  font-weight: 300;
  align-self: center;
}

.list-description {
  margin-top: 5%;
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 300;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.list-button {
  display: flex;
  width: 261px;
  height: 51px;
  padding: 11px 41px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 300;
  background: #000;
  margin-top: 25%;
}

.list-text-bold {
  font-family: "IM FELL French Canon";
  font-size: 48px;
  font-weight: 400;
}

.list-navigation {
  display: flex;
  gap: 40px;
  justify-content: end;
  margin-right: 8%;
  margin-top: 3%;
}
