.retraite-background-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.retraite-title {
  color: #000;
  font-family: "LEMON MILK";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 9%;
}

.retraite-txt-presentation {
  color: #000;
  text-align: justify;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.retraite_navigation {
  color: #000;
  display: flex;
  gap: 40px;
  justify-content: end;
  margin-right: 8%;
  margin-top: 3%;
}

.retraite-mockup-livre-fermé {
  margin-left: 35%;
}

.carousel-page-tourne {
  margin-left: 15%;
}

input {
  display: none;
}

#p1:checked ~ .img1 {
  display: block;
}
#p2:checked ~ .img2 {
  display: block;
}

.retraite-link-next-project {
  color: #000;
  display: inline-flex;
  align-items: center;
  gap: 77px;
  font-size: 24px;
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 7%; /* 1.68px */
  text-underline-offset: 24%; /* 5.76px */
  text-underline-position: from-font;
  margin-left: 6%;
  margin-top: 5%;
  margin-bottom: 5%;
  transition-property: color;
  transition-duration: 1s;
  transition-delay: 0.2s;
}

.retraite-link-next-project :hover {
  color: #ee4a51;
}

.retraite-button {
  margin-left: 10%;
  display: flex;
  height: 42.6px;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: #000;
  color: #fff;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 300;
  margin-top: 40%;
  transition-property: color;
  transition-duration: 1s;
  transition-delay: 0.2s;
  margin-top: 5%;
}

.retraite-button:hover {
  color: rgb(0, 0, 0);
  background-color: #fff;
  border: 1px solid #000;
}
