* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}

body {
  font-family: Quicksand;
}

h1 {
  margin-top: 2%;
  margin-left: 7%;
  margin-bottom: 2%;
  color: #000;
  font-family: "IM FELL French Canon";
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2%; /* 1.7px */
  text-underline-offset: 20.5%; /* 17.425px */
  text-underline-position: from-font;
}

h2 {
  color: #000;
  font-family: "IM FELL French Canon";
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2%; /* 1.7px */
  text-underline-offset: 20.5%; /* 17.425px */
  text-underline-position: from-font;
}
