* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}

body {
  color: #000;
  font-family: Quicksand;
}

h1,
h2,
h3 {
  font-family: "IM FELL French Canon";
  font-weight: 400;
}

h1 {
  margin-top: 2%;
  margin-left: 7%;
  margin-bottom: 2%;
  color: #000;
  color: #000;
  font-family: Lato;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

h2 {
  color: #000;
  font-family: Lato;
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
