.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.188);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.l-project-title {
  margin-left: 6.5%;
  color: white;
}
